@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-heading: "Josefin Sans", sans-serif;
  --font-text: "Lato", sans-serif;
  --primary: #0d0e43;
  --primary-text: #0d134e;
  --secondary: #abbce1;
  --white: #ffffff;
  --green: #19d16f;
  --border: #e7e6ef;
  --bg-route: #f6f5ff;
  --bg-footer: #eeeffb;
  --bg-bottom: #e7e4f8;
  --bg-dark: #58586f;
  --gray: #9096b2;
  --bg-dark-text: #e3e3e3;
}

body {
  font-family: var(--font-text);
}
h1 {
  font-family: var(--font-heading);
}
::-webkit-scrollbar-track {
  background-color: #f8f8f8;
  border-radius: 15px;
  cursor: pointer;
  z-index: 99;
}
::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #b0b0b0)
  );
}
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background-color: #fff;
}
.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  --c: no-repeat radial-gradient(farthest-side, #25b09b 92%, #0000);
  background: var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 50%,
    var(--c) 0 50%;
  background-size: 12px 12px;
  animation: l12 1s infinite;
}
.loader::before {
  margin: 4px;
  filter: hue-rotate(45deg);
  background-size: 8px 8px;
  animation-timing-function: linear;
}
@keyframes l12 {
  100% {
    transform: rotate(0.5turn);
  }
}
.loginSignuploader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #f1f5f9;
  z-index: 30001;
  opacity: 0.7;
  cursor: d;
}
.loginSignuploader {
  --r1: 154%;
  --r2: 68.5%;
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(
      var(--r1) var(--r2) at top,
      #0000 79.5%,
      #0d0e43 80%
    ),
    radial-gradient(var(--r1) var(--r2) at bottom, #0d0e43 79.5%, #0000 80%),
    radial-gradient(var(--r1) var(--r2) at top, #0000 79.5%, #0d0e43 80%), #ccc;
  background-size: 50.5% 220%;
  background-position: -100% 0%, 0% 0%, 100% 0%;
  background-repeat: no-repeat;
  animation: l9 2s infinite linear;
}
@keyframes l9 {
  33% {
    background-position: 0% 33%, 100% 33%, 200% 33%;
  }
  66% {
    background-position: -100% 66%, 0% 66%, 100% 66%;
  }
  100% {
    background-position: 0% 100%, 100% 100%, 200% 100%;
  }
}
@layer components {
  .offer-card:hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #0d0e43;
  }
  .filter-view-div::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--border);
    bottom: -10px;
    left: 0;
  }
}
.swiper {
  height: 100%;
}
.swiper-slide > div,
.swiper > div:last-of-type {
  border: none;
  outline: none;
}

.gif-animation-img {
  height: 200px;
  width: 200px;
  filter: drop-shadow(0 0 0.5rem gray);
}
